<div>
    <div class="container">
        <div class="card">
            <div class="card-header  bg-primary">
                <h4 class="text-white fw-bold">THÊM BÀI VIẾT</h4>
            </div>

            <body>
                <form class="p-3 fw-bold" name="checkForm">

                    <label for="">Tiêu đề</label>
                    <input type="text" class="form-control" name="tieude" ng-model="newPost.tieu_de" required>
                    <div class="text-danger shadow-sm" ng-show="checkForm.tieude.$error.required">Vui lòng nhập tiêu đề
                    </div>
                    <br>


                    <label for="">Nội dung</label>
                    <textarea type="text" class="form-control" name="textarea" ng-model="newPost.noi_dung"
                        required></textarea>
                    <div class="text-danger shadow-sm" ng-show="checkForm.textarea.$error.required">Vui lòng nhập nội
                        dung
                    </div>
                    <br>


                    <label for="">Tác giả</label>
                    <input type="text" class="form-control" name="tacgia" ng-model="newPost.tac_gia" required>
                    <div class="text-danger shadow-sm" ng-show="checkForm.tacgia.$error.required">Vui lòng Nhập tác
                        giả
                    </div>
                    <br>


                    <label for="">Thể lại</label>
                    <br>
                    <select name="theloai" id="" ng-model="newPost.the_loai" required>
                        <option value="Tin tức">Tin tức</option>
                        <option value="Truyện ngắn">Truyện ngắn</option>
                        <option value="Tiểu thuyết">Tiểu thuyết</option>
                    </select>
                    <div class="text-danger shadow-sm" ng-show="checkForm.theloai.$error.required">Vui lòng chọn thể
                        loại

                    </div>
                    <br>
                    <br>


                    <label for="">Ngày đăng</label>
                    <input type="datetime" class="form-control" name="ngaydang" ng-model="newPost.ngay_dang" required
                        placeholder="dd/MM/yyyy">
                    <div class="text-danger shadow-sm" ng-show="checkForm.ngaydang.$error.required">Vui lòng Nhập ngày
                        đăng

                    </div>

                    <div class="text-center p-3 ">
                        <a href="#!/list-posts">
                            <button ng-click="" class="btn btn-outline-danger">
                                Quay lại</button>
                        </a>
                        <button ng-click="addNewPost($event)" class="p-2 border-0 rounded-3 btn btn-success text-white">
                            Thêm</button>

                    </div>
                </form>
            </body>
        </div>

    </div>
</div>