<div>
    <div class="container-fluid">
        <div class="card">
            <div class="card-header bg-primary">
                <h4 class="text-white fw-bold">LIST DANH SÁCH BÀI VIẾT</h4>
            </div>

            <div class="card-body">
                <a href="#!/post/add">
                    <button class="w-10 p-2 bg-success text-white border-0 rounded-3 mb-1">++Thêm bài viết</button>
                </a>
                <table class="table table-bordered">
                    <tr>
                        <th>ID</th>
                        <th>Tiêu đề</th>
                        <th>Nội dung</th>
                        <th>Tác giả</th>
                        <th>Thể loại</th>
                        <th>Ngày đăng</th>

                    <tr ng-repeat="List in listPost">
                        <td ng-bind="List.id"></td>
                        <td ng-bind="List.tieu_de"></td>
                        <td ng-bind="List.noi_dung"></td>
                        <td ng-bind="List.tac_gia"></td>
                        <td ng-bind="List.the_loai"></td>
                        <td>{{List.ngay_dang | date:'dd/MM/yyyy'}}</td>
                        <td><button ng-click="deletePost($event,List.id)"
                                class="bg-danger text-white border-0 p-2 rounded-2 w-25">Xóa</button>
                            <a href="#!/detail/post/{{List.id}}">
                                <button class="bg-primary text-white border-0 p-2 rounded-2">Chi
                                    tiết</button>
                            </a>
                        </td>





                    </tr>

                    </tr>
                </table>
            </div>

        </div>


    </div>



</div>