<div class="container p-5">
    <div class="card">
        <div class="card-header bg-primary">
            <h4 class="fw-bold text-white">Chi tiết sản phẩm</h4>
        </div>

        <body>
            <form name="formCheck" class="p-4">
                <label for="" class="fw-bold">Tên sản phẩm</label>
                <input type="text" name="ten" ng-model="newSanPham.ten_sanpham" class="form-control" required disabled>
                <br>


                <label for="" class="fw-bold">giá sản phẩm</label>
                <input type="text" name="gia" ng-model="newSanPham.gia_sanpham" class="form-control" required disabled>

                <br>



                <label for="" class="fw-bold">xuất xứ</label>
                <input type="text" name="xuatxu" ng-model="newSanPham.xuat_xu" class="form-control" required disabled>


                <div class="text-center p-4">
                    <a href=#!/sanpham/list><button class="btn btn-primary">quay lại</button></a>
                    <a href="#!/sanpham/upadate/{{newSanPham.id}}">
                        <button class="btn btn-success">Sửa</button>
                    </a>

                </div>

            </form>
        </body>

    </div>
</div>