<div class="container-fluid p-5">

    <div class="card">
        <div class="card-header bg-primary">
            <h4 class="fw-bold text-white">DANH SACH SAN PHAM</h4>
        </div>

        <body>
            <a href="#!/sanpham/add" class="p-3">
                <button class="btn btn-success">++Thêm sản phẩm</button>
            </a>
            <table class="table table-bordered">
                <tr>

                    <th>Tên sản phẩm </th>
                    <th>giá sản phẩm </th>
                    <th>xuất xứ </th>

                </tr>

                <tr ng-repeat="list in listSanPham">
                    <td>{{list.ten_sanpham}}</td>
                    <td>{{list.gia_sanpham|number}}</td>
                    <td>{{list.xuat_xu}}</td>
                    <td>
                        <div>
                            <a href="#!/sanpham/detail/{{list.id}}"><button class="btn btn-primary">detail</button></a>
                            <button ng-click="deleteSanPham(list.id)" class="btn btn-danger">remove</button>
                        </div>
                    </td>
                </tr>
            </table>
        </body>

    </div>
</div>