<div>
    <div class="container w-50 mt-4">
        <div class="card">
            <div class="card-header hd1">
                Đặt phòng khách sạn
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="">Họ tên</label>
                        <input type="text" name="" id="" class="form-control">
                    </div>
                    <div class="col-sm-6">
                        <label for="">Chứng minh thư</label>
                        <input type="text" name="" id="" class="form-control">
                    </div>
                    <div class="col-sm-6">
                        <label for="">Email</label>
                        <input type="email" name="" id="" class="form-control">
                    </div>
                    <div class="col-sm-6">
                        <label for="">Giới tính</label><br>
                        <input type="radio" name="" id=""> Nam
                        <input type="radio" name="" id="">Nữ
                    </div>
                    <div class="col-sm-6">
                        <label for="">Số điện thoại</label>
                        <input type="number" name="" id="" class="form-control">
                    </div>
                    <div class="col-sm-6">
                        <label for="">Ngày sinh</label>
                        <input type="datetime-local" name="" id="" class="form-control">
                    </div>
                    <div class="row">
                        <div class="col-md-4 mt-3">
                            <label class="fw-bold" for="">Nhận phòng:</label>
                            <input type="date" class="form-control" name="" id="">
                        </div>

                        <div class="col-md-4 mt-3">
                            <label class="fw-bold" for="">Số đêm</label>
                            <select class="form-control" name="" id="">
                                <option value="">1 đêm</option>
                            </select>
                        </div>

                        <div class="col-md-4 mt-3">
                            <label class="fw-bold" for="">Trả phòng</label>
                            <input type="date" class="form-control border-0">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="">Số người</label>
                        <input type="number" name="" id="" class="form-control" placeholder="1 người">
                    </div>
                    <div class="col-sm-6">
                        <label for="">Số phòng</label>
                        <input type="number" name="" id="" class="form-control" placeholder="1 phòng">
                    </div>

                    <footer class="text-center">
                        <button class="book">Đặt phòng</button>
                    </footer>





                </div>
            </div>



        </div>

    </div>
</div>